<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/error.css}" href="/src/main/resources/static/css/error.css">
	
</head>
<body>
    <div class="error-container">
        <h1>오류가 발생했습니다</h1>
        <p th:text="|상태 코드: ${status}|">상태 코드: 500</p>
        <p th:text="|오류: ${error}|">오류: Internal Server Error</p>
        <p th:text="|메시지: ${message}|">메시지: 자세한 내용을 확인할 수 없습니다.</p>
    </div>
</body>
</html>
